#chatSyncFloatingButton {
  position: fixed;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 6vw; /* Adjust the percentage as needed */
  height: 6vw; /* Adjust the percentage as needed */
  max-width: 60px; /* Set a maximum width to prevent the button from becoming too large */
  max-height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

}

